div{
    padding-top: 10%;
    width: 1000vh;
    height: 500vh;
    background-color: rgb(170, 185, 180);
    color: antiquewhite;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    list-style-position: inside;
}
img{
    display:block;
    margin:0px auto;
}
a{
    color: azure;

}