.item1{
    grid-area: logo;
}
.item2{
    grid-area: phoneno;
    margin-top: 40px;
    height: 20px;
}
.item3{
    grid-area: menu;
    margin-bottom: 20px;
}
.item4{
    grid-area: slideshow;
    display: flex;
  align-items: center;
  justify-content: center;
}
.item5{
    grid-area: content;
    display: flex;
  align-items: center;
  justify-content: center;
}
.item6{
    grid-area: sidebar;
    display: flex;
  align-items: center;
  justify-content: center;
}
.item7{
    grid-area: footer;
}

.grid-container{
    max-width: 1024px; /*how big the box , max will not change*/
    margin: auto; /*only box, display center*/
    display: grid;
    grid-template-areas: 
    'logo logo space phoneno'
    'logo logo menu menu'
    'slideshow slideshow slideshow slideshow'
    'content content content sidebar'
    'footer footer footer footer';
    gap: 10px;
    background-color: beige;
    padding: 10px;
    grid-template-rows: 120px 80px 250px 320px 80px;
    text-align: center;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
  }
  